---
---
<!DOCTYPE HTML>
<html> 
  {% include head.html %}
  <body>
    {% include header.html %}
    {% include nav.html %}
		<!-- <1!-- Banner --1> -->
		<!-- 	<div id="banner-wrapper"> -->
		<!-- 		<section id="banner"> -->
		<!-- 			<h2>Cool Title</h2> -->
		<!-- 			<span class="byline">Cool Subtitle</span> -->
		<!-- 			<a href="#" class="button">Cool Page Link</a> -->
		<!-- 		</section> -->
		<!-- 	</div> -->
		<!-- <1!-- /Banner --1> -->
		<!-- Main -->
			<div id="main-wrapper">
				<div id="main" class="container">
					<div class="row">
						<div class="12u">
							
							<!-- Highlight -->
								<section class="is-highlight">
									<ul class="special">
                    <li><a href="{{site.baseurl}}{{ site.data.generic-links.projects }}" class="fa fa-folder solo"></a><span>Projects</span></li>
                    <li><a href="{{site.baseurl}}{{ site.data.generic-links.publications }}" class="fa fa-book solo"></a><span>Publications</span></li>
                    <li><a href="{{site.baseurl}}{{ site.data.generic-links.people }}" class="fa fa-user solo"></a><span>People</span></li>
									</ul>
									<header>
										<h2 style="text-transform:none">The McLab Project</h2>
										<span class="byline">Languages, Compilers and Virtual Machines for Dynamic Scientific Languages</span>
									</header>
                  <div style="text-align:left">
									<p>
                    Welcome to the McLab web page. Our goal is to provide a
                    framework that consists of languages,
                    compilers and virtual machines that improve the experience
                    of dynamic scientific computing languages, particularly
                    MATLAB. We start with the MATLAB language and extensions of
                    the MATLAB language such as AspectMatLab. Please visit the
                    projects page for a list of components that have been
                    developed or are under development.  
                   </p>
                   <p>
                    We would like to design and implement specific features and
                    optimizations that are of interest and use to scientists and
                    engineers. As such, we would love to work with groups of
                    scientists or engineers that deal with MATLAB. If you are
                    interested in working with us please visit our <a
                      href="{{site.baseurl}}{{ site.data.generic-links.contactUs }}">contact page</a>.
                  </p>
                  <p>
                  We have published in a number of areas regarding dynamic
                  scientific languages. These include MATLAB to Fortran
                  compiling, refactoring and parallelism. A list of our
                  conference publications, tech reports and graduate theses is
                  available on the publications page. We invite current or
                  potential graduate students as well as those interested in
                  collaboration to <a href="{{site.baseurl}}{{site.data.generic-links.contactUs }}">contact us</a>.
                  </p>
                  </div>
								</section>
							<!-- /Highlight -->

						</div>
					</div>
					<div class="row">
						<div class="12u">
							<!-- Research Areas-->
								<section class="is-features">
									<h2 class="major"><span>Research Areas</span></h2>
									<div>
										<div class="row">
											<div class="3u">
													<section class="is-feature">
                            <div class="fa fa-search" style="font-size: 9em; color: #B0C4DE"></div>
                            <h3>Analysis Tools</h3>
														<p>                            
                              We are aiming to develop tools that ease the
                              analysis of MATLAB and the design of compilers
                              that target different backends.
														</p>
													</section>
											</div>
											<div class="3u">
													<section class="is-feature">
                            <div class="fa fa-thumb-tack" style="font-size: 9em; color: #B0C4DE"></div>
														<h3>Static Tools</h3>
														<p>                            
                              We are designing compilers to allow for code
                              that is developed in MATLAB to be translated into
                              languages such as Fortran. This allows code
                              written in MATLAB to be later compiled into a
                              production system written in a standardized
                              language. Currently, we have compilers for
                              Fortran, Mix10 and .NET. Compilers for C++ and
                              JavaScript are being developed.
														</p>
													</section>
											</div>
											<div class="3u">
													<section class="is-feature">
                            <div class="fa fa-cogs" style="font-size: 9em; color: #B0C4DE"></div>
														<h3>JIT Compilers</h3>
														<p>
                             The goal is to provide a virtual machine that is
                             coupled with an optimizing JIT. We aim to provide
                             a platform to help researchers explore both static
                             and dynamic techniques for dynamic scientific
                             languages. We also aim to provide a viable
                             alternative interpreter implementation for MATLAB. 
														</p>
													</section>
											</div>
											<div class="3u">
													<section class="is-feature">
                            <div class="fa fa-legal" style="font-size: 9em; color: #B0C4DE"></div>
														<h3>Programmer Tools</h3>
														<p>
                              We are developing tools to improve the usability
                              of MATLAB. We are exploring areas such as IDEs
                              and learning subsets that improve a MATLAB
                              programmer's productivity.
														</p>
													</section>
											</div>
										</div>
										<div class="row">
											<div class="3u">
													<section class="is-feature">
                            <div class="fa fa-globe" style="font-size: 9em; color: #B0C4DE"></div>
														<h3>Web Scientific Computing</h3>
														<p>
                             We are interested in bringing dynamic scientific
                             computing languages to the web. Our research
                             includes testing the performance of browsers and
                             web technologies with our Ostrich Benchmark Suite,
                             using JavaScript as a target language and
                             realizing decentralized scientific computing on
                             the web. 
														</p>
													</section>
											</div>
											<div class="3u">
													<section class="is-feature">
                            <div class="fa fa-reorder" style="font-size: 9em; color: #B0C4DE"></div>
														<h3>Parallel Scientific Computing</h3>
														<p>
                              We aim to develop tools that allow compiler
                              writers for dynamic scientific langauges to
                              easily incorporate parallelism into their tools.
                              Our Velociraptor toolkit provides a target
                              intermediate representation called VRIR that it
                              optimizes and compiles to native parallel code. 
														</p>
													</section>
											</div>
										</div>
										<div class="row">
											<div class="12u">
											
												<div class="actions">
                          <a href="{{site.baseurl}}{{site.data.generic-links.projects}}" class="button button-big">View Projects</a>
												</div>
											</div>
										</div>
									</div>
								</section>
						</div>
					</div>
				</div>
			</div>
		<!-- /Main -->
    {% include footer.html %}
	</body>
</html>
