---
---
<!DOCTYPE HTML>
<html> 
  {% include head.html %}
  <body>
    {% include header.html %}
    {% include nav.html %}
		<!-- Main -->
			<div id="main-wrapper">
				<div id="main" class="container">
					<div class="row">
						<div class="12u skel-cell-important">
							<div class="content">
								<!-- Content -->
									<article class="is-page-content">
                  <section>
                      <h2>Contact Us</h2>
											<h3>Bug Reports</h3>
                      <p>Please report all bugs to 
                      {% if  site.data.generic-links.bugReportingSystem  contains 'http' %}
                        <a href="{{ site.data.generic-links.bugReportingSystem }}">our bug reporting system.</a></p>
                      {% else %}
                        <a href="{{ site.baseurl }}{{ site.data.generic-links.bugReportingSystem }}">our bug reporting system.</a></p>
                      {% endif %}
											<h3>Work with us!</h3>
                    We would like to hear from you if you're interested in working with us as:
                    <ul style="list-style-type: square; padding-left: 2em;">
                      <li> scientists/engineers who have applications which need to run
                      faster; </li>
                      <li> scientists/engineers who would like special language extensions for
                      their application areas;</li>
                      <li> compiler researchers who would like to join our efforts;</li>
                      <li> undergraduate students at McGill interested in research projects;</li>
                      <li> graduate students interested in a thesis topic; and</li>
                      <li> potential graduate students who would like to come to McGill to
                      work in our group.</li>
                    </ul>

                    <div id="contactus" class="10u">
                      <style> #contactus p{ display:inline}</style>
                      Please contact {% markdown %}[Professor Hendren](mailto:hendren@cs.mcgill.ca){% endmarkdown %} for all of the above
                      mentioned cases. Anyone interested in following our project
                      can kindly subscribe to our {% markdown %} [mailing
                      list](mailto:{{ site.data.generic-links.mailGroup }}) {%endmarkdown %}
                    </div>
                  </section>
									</article>
								<!-- /Content -->
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- /Main -->
    {% include footer.html %}
	</body>
</html>
